doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title test-work-ameton article
		link(rel="stylesheet", href="css/bundle.min.css")

	body
		include views/layouts/layout-article
		script(src="js/bundle.min.js")
