doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title test-work-ameton main
		link(rel="stylesheet", href="css/bundle.min.css")

	body
		include views/layouts/layout-contacts.pug
		include views/layouts/layout-social.pug
		include views/layouts/layout-carousel.pug
		include views/layouts/layout-accordion.pug
		script(src="js/bundle.min.js")
