.layout.layout-social
	.layout-wrap
		.social
			.social__info
				.social__info-subtitle Социальные сети и сообщество
				h2.social__info-title.title-2 Присоединяйтесь
			ul.social__list
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-vk")
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-inst")
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-tiktok")
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-twitter")
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-yandex-dzen")
				li.social__list-item
					a.btn-icon(href="#")
						svg.btn-icon__svg
							use(href="img/sprite.svg#i-facebook")
