.layout.layout-contacts
	.layout-wrap
		.contacts
			.contacts__inner
				.contacts__title.title-1 Поддержка здесь
				.contacts__note Мы любим общаться и рады всем отзывам, вопросам и предложениям. Выберите удобный способ
				ul.contacts__list
					li.contacts__list-item
						.btn.btn--light
							svg.btn__icon
								use(href="img/sprite.svg#i-chat")
							.btn__text Онлайн-чат
							a.btn__link(href="#")
					li.contacts__list-item
						.btn.btn--light
							svg.btn__icon
								use(href="img/sprite.svg#i-phone")
							.btn__text Позвонить
							a.btn__link(href="#")
					li.contacts__list-item
						.btn.btn--light
							svg.btn__icon
								use(href="img/sprite.svg#i-mail")
							.btn__text Почта
							a.btn__link(href="#")
					li.contacts__list-item
						.btn.btn--light
							svg.btn__icon
								use(href="img/sprite.svg#i-star")
							.btn__text Отзыв о сайте
							a.btn__link(href="#")
			img.contacts__decor-hand(src="img/pict-hand.svg", alt="")
			img.contacts__decor-airplane-1(src="img/pict-airplane-1.svg", alt="")
			img.contacts__decor-airplane-2(src="img/pict-airplane-1.svg", alt="")
			img.contacts__decor-airplane-3(src="img/pict-airplane-1.svg", alt="")
