.layout.layout-carousel
	.layout-wrap
		h2.layout-title.title-2 Часто задаваемые вопросы
		.carousel
			.carousel-list
				.carousel-list__item
					.question
						.question__info
							h3.question__info-title.title-3 Где работает доставка?
						img.question__picture(src="img/pict-question.png", alt="")
				.carousel-list__item
					.question
						.question__info
							h3.question__info-title.title-3 Где работает доставка?
							.question__info-text Карта лояльности с вашим номером покупателя. Это карта лояльности с вашим
				.carousel-list__item
					.question
						.question__info
							h3.question__info-title.title-3 Где работает доставка?
							.question__info-text Карта лояльности с вашим номером
						img.question__picture(src="img/pict-question.png", alt="")
				.carousel-list__item
					.question
						.question__info
							h3.question__info-title.title-3 В какое время возможен самовывоз В какое время возможен самовывоз?
							.question__info-text Карта лояльности с вашим
				.carousel-list__item
					.question
						.question__info
							h3.question__info-title.title-3 Где работает доставка?
						img.question__picture(src="img/pict-question.png", alt="")
