article.article
	.article__main
		h2.article__title Где работает доставка?
			a.article__title-share(href="")
				svg.article__title-share-svg
					use(href="img/sprite.svg#i-share")
		p.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
		p.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
		p.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
		p.article__text Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
	.article__footer
		.article__footer-title Проблема не решилась? Свяжитесь с нами, мы поможем
		ul.article__footer-list
			li.article__footer-list-item
				.btn
					svg.btn__icon
						use(href="img/sprite.svg#i-chat-2")
					.btn__text Отзыв о сайте
					a.btn__link(href="#")
			li.article__footer-list-item
				a.btn-icon.btn-icon--small(href="#")
					svg.btn-icon__svg
						use(href="img/sprite.svg#i-phone-2")
			li.article__footer-list-item
				a.btn-icon.btn-icon--small(href="#")
					svg.btn-icon__svg
						use(href="img/sprite.svg#i-mail-2")
