.layout.layout-accordion
	.layout-wrap
		h2.layout-title.title-2 Справка
		.accordion
			.accordion__item
				.accordion__title
					h3.accordion__title-main.title-3 Бережная сборка
					.accordion__arrow
						svg.accordion__arrow-svg
							use(href="img/sprite.svg#arrow")
				.accordion__content Здесь контент
			.accordion__item
				.accordion__title
					.accordion__title-text
						h3.accordion__title-main.title-3 Способы доставки и самовывоза
						.accordion__title-sub Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
					.accordion__arrow
						svg.accordion__arrow-svg
							use(href="img/sprite.svg#arrow")
				.accordion__content Здесь контент
			.accordion__item
				.accordion__title
					h3.accordion__title-main.title-3 Минимальная сумма заказа
					.accordion__arrow
						svg.accordion__arrow-svg
							use(href="img/sprite.svg#arrow")
				.accordion__content Здесь контент
			.accordion__item
				.accordion__title
					h3.accordion__title-main.title-3 Лёгкий возврат
					.accordion__title-sub Это карта лояльности с вашим номером покупат Это карта лояльности с вашим номером покупат
					.accordion__arrow
						svg.accordion__arrow-svg
							use(href="img/sprite.svg#arrow")
				.accordion__content Здесь контент
